<footer class="footer">
    <span class="todo-count"><strong>{{ pendingTask }}</strong> Pending tasks</span>
    <ul class="filters" >
      <li *ngFor="let filtro of filters" 
          (click)="changeFilter(filtro)">
        <a
          [class.selected]="filtro === actualFilter"
          href="#/"> 
          {{filtro | titlecase}}
        </a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button (click)="onCleanCompleted()" class="clear-completed">Clear completed</button>
  </footer>